@import '../../App.css';
.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    padding: 0;
}

/* Hero */
.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 100px;
    margin: 0;
    min-height: 90vh;
}
.hero-text {
    text-align: justify;
    word-spacing: 3px;
    font-family: var(--text-font);
    line-height: 2;
}

.hero-text::first-letter {
    font-family: var(--header-font);
    line-height: 1;
    font-size: 2rem;
    color: var(--secondary-accent);
    font-weight: bold;
}

.logo {
    max-height: 60vh;
}

/* Products */

.product-description-section {
    background-color: var(--primary-button);
    width: 100vw;
    padding: 40px;
    display: flex;
    justify-content: space-around;
    min-height: 90vh;
}

.product-description {
    border-radius: 15px;
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    width: 40vw;
    box-shadow: 0px 2px 5px var(--accent);
}
.product-img {
    width: 28vw;
    filter: drop-shadow(0px 2px 2px var(--accent));
}

.product-title {
    margin-top: 30px;
    font-family: var(--header-font);
    color: var(--text);
}
.product-text {
    font-family: var(--text-font);
    font-size: 1.3rem;
    text-align: justify;
    color: var(--accent)
}

.product-btn {
    background-color: var(--secondary-accent);
    color: var(--background);
    border: none;
    box-shadow: 0px 1px 2px var(--text);
    width: 60%;
    font-family: var(--text-font);
    letter-spacing: 1.5px;
    font-weight: bold;
    text-shadow: 1px 1px 1px var(--text);
    text-transform: uppercase;
}

.product-btn:hover {
    background-color: var(--accent);
}

/* Media queries */
@media (max-width: 992px) {
    .hero {
        flex-direction: column;
        max-width: 90%;
        padding: 40px 0;
    }

    .product-description-section {
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }

    .product-description {
        width: 90%;
        padding: 50px;
    }
}

@media (min-width: 1200px) {
    .hero-text {
        font-size: 1.3rem;
    }
    .hero-text::first-letter {
        font-size: 2.2rem;
    }
}