@import '../../App.css';
.hero-text {
    text-align: justify;
    word-spacing: 3px;
    font-family: var(--text-font);
    line-height: 2;
}

.hero-text::first-letter {
    font-family: var(--header-font);
    line-height: 1;
    font-size: 2rem;
    color: var(--secondary-accent);
    font-weight: bold;
}


.product-description-section {
    background-color: var(--primary-button);
    border-radius: 15px;
    box-shadow: 0px 2px 5px var(--accent);
}

.product-description {
    border-radius: 15px;
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    box-shadow: 0px 2px 5px var(--accent);
}
.product-img {
    max-width: 90%;
    filter: drop-shadow(0px 2px 2px var(--accent));
}

.logo {
    max-width: 90vw;
}


.product-title {
    font-family: var(--header-font);
    color: var(--text);
}
.product-text {
    font-family: var(--text-font);
    font-size: 1.3rem;
    text-align: justify;
    color: var(--accent)
}

.product-btn {
    background-color: var(--secondary-accent);
    color: var(--background);
    border: none;
    box-shadow: 0px 1px 2px var(--text);
    width: 60%;
    font-family: var(--text-font);
    letter-spacing: 1.5px;
    font-weight: bold;
    text-shadow: 1px 1px 1px var(--text);
    text-transform: uppercase;
}

.product-btn:hover {
    background-color: var(--accent);
}

@media (min-width: 1200px) {
    .hero-text {
        font-size: 1.3rem;
    }
}