:root {
  --text: #402e32;
  --background: #fffffe;
  --primary-button: #fdd492;
  --secondary-button: #dfe0df;
  --accent: #533125;
  --secondary-accent: #f2af29;
  --header-font: "Merriweather", serif;
  --text-font: "Oswald", sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--background);
  overflow-x: hidden;
  padding-bottom: 50px;
}

.App {
  min-height: 80vh;
}
.content {
  flex: 1;
}

.spinner {
  position: fixed;
  top: 40%;
  left: 45%;
}
